/*Estilos generales para los 5 HTML*/
.css{
margin: 0;
padding: 0; 
}

.logo{
    width: 100px;
    display: block;
     margin: 0 auto;
}
body{
 background-image:linear-gradient(to bottom, rgb(120, 8, 120), rgb(206, 116, 131),rgb(166, 166, 7), grey);
font-family:'M PLUS Rounded 1c', sans-serif;
font-size: 62,5%;
margin-top: 4rem;  
}
.navbar-toggler{
    background-color: rgb(96, 16, 216);
    border: solid 1px rgb (96,16,216);
}
.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}

.navbar-nav .nav-link.active{
    color: white;
}

.navbar-nav{
     color: black;
    transition: all 8s;

}
.navbar-nav li a:hover{
    background-color:black;
    color: yellow;
    font-style: oblique;
}
h1, h2, h3 {
    color: white;
    text-align: center;
    margin: 2rem;
     display: grid;
    justify-self: center;
    position: static;
}

footer{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/*Estilos para el index*/
.pseudo1 p:last- :last-of-type {
    color: white
}
.pseudo1 p:last- :first-child {
    color: white
}


 /* carrusel*/
 #carouselExampleCaptions{
    width:200px; 
 }
 .carousel-item img{
   height: 200px;

 }
.carrusel1{
    display: grid;
    justify-items: center;   
}
/* Tablet*/
@media screen and (min-width:768px){
    .carrusel-item img{
        width: 500px;
        height: 500px;
    }
}
/*Desktop*/
@media screen and (min-width: 1024px){
    .carrusel-item img{
        width: 700px;
        height: 700px;
    }
}
 /*Estilos para quienes somos*/
p{
    position: static;
    gap: 1rem;
    display: inline-block;
    margin: 2rem;
}

 .imagenesq{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.imagenesq__img{
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    margin: 2rem; 
    border-radius: 10%; 
     
}
/* tablests*/
@media screen and (min-width:768px){
    .imagenesq{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-items: center;
    }
}
/* desktop*/
@media screen and (min-width:1024px){
    .imagenesq{
      grid-template-columns: repeat(3, 1fr);
      width: 40rem;
      height: 40rem;
     
    }
}
 /*Estilos para nuestros productos*/
 /* cards*/
.padre-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;   
    }     
    

.card img{
      height: 200px;
     border: solid 1px black;

    } 
/*Para tablets*/
     @media (min-width: 768px) {
     .padre-cards{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-items: center;
            }
         }

 /*para desktop*/
     @media (min-width: 992px){
    .padre-cards{
    grid-template-columns: repeat(3, 1fr);

    }
     }

/*para desktop grande*/
    @media (min-width:1200px){
    .padre-cards{
    display: flex;flex-direction: row;
    flex-wrap: wrap;
            }
         }
         
  /*Filtros de productos*/ 
.container-cards{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  
}
@media  (max-width:768px) {
    .container-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media (min-width: 992px) {
    .container-cards{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media (max-width: 1200px){
    .container-cards{
        grid-template-columns: repeat(4,1fr);
    }
}
.container-opciones{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.container-opciones label{
    cursor: pointer;
    padding: 8px, 15px;
}
.container-opciones label:nth-of-type(odd){
    background-color:honeydew
   
}
.container-opciones label:nth-of-type(even){
    background-color: darkseagreen;
}
    #bombones,
    #pavlovas,
    #minilemon,
    #todos {
        display: none;
    }

    .card-bombones,
    .card-pavlovas,
    .card-minilemon,
    .todos {
        display: none;
    }

    #pavlovas:checked ~ .container-cards .card-pavlovas,
    #bombones:checked ~ .container-cards .card-bombones,
    #minilemon:checked ~ .container-cards .card-minilemon{
        display: flex;
    }  
    #todos:checked ~ .container-cards .card-bombones,
    #todos:checked ~ .container-cards .card-pavlovas,
    #todos:checked ~ .container-cards .card-minilemon{
        display: flex;
    }
    


/*Estilos para fotos*/
#galeria-nela{
    grid-area: galeria;  
     }
#galeria-nela h2{
    text-align: center;
     margin-top: 5rem;
     }
                
.fotos-nela{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
     }
.fotos-nela :focus{
    width: 2rem;
     }
/*Tablet*/                
 @media screen and (min-width:768px){
    .fotos-nela{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
         gap: 1rem;
 }
    }
 /*Desktop*/   
@media screen and (min-width:1024px) {
.fotos-nela{
 grid-template-columns: repeat(2, 2fr);
background-image: linear-gradient(rgb(9, 9, 95), rgba(53, 53, 170, 0.724));
 }
  }
                
.fotos-nela img{
width: 500px;
height:500px;
 }
                
 /*estilos de mis banners*/
#banners-nela{
    grid-area: banners;
    margin-top: 2rem;
}
#banners-nela h3{
    text-align: center;
    margin-bottom: 1rem;
}

.padre-banners{
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 1rem;
   padding: 1.5rem;
}
/*Tablets*/
@media screen and (min-width:768px) {
    .padre-banners{
        display: grid;
       grid-template-columns: repeat(2, 1fr);
       justify-items: center;

    }
}
/*Desktop*/
@media screen and (min-width:1024px) {
    .padre-banners{
        grid-template-columns: repeat(4, 1fr);
    }
    
}
.hijo-banner{
    text-align: center;
}       
/*Estilos para donde encontrarnos*/
 
.map-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      margin-left: 5rem;
     }

.map-responsive iframe{
         left:0;
         top:0;
         height:80%;
         width:80%;
        position:absolute;
     }           

 .enlace{
    display: grid;
    justify-items: start;
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium',sans-serif;
    text-decoration: none;
 }
 .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.form-group{
    display:flex;
    margin:1rem;
    gap: 5rem;
}
.text-center{
    color:  black;
    font-style: italic;
    
}
p{
    text-align: center;
    line-height: 2;
}
ul li{ 
    list-style:none;
    text-align: center;
}

