/*Paletas de colores*/
/*Medidas de fuentes*/
/*Medidas de pantallas*/
/*Separaciones (Margin y Padding)*/
/*Fuentes*/
/*Mixin*/
/*Estilos generales para los 5 HTML*/
.css {
  margin: 0;
  padding: 0; }

.logo {
  width: 100px;
  display: block;
  margin: 0 auto; }

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-image: linear-gradient(to bottom, #780878, #ce7483, #a6a607, grey);
  color: white; }

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6010d8;
  border-color: #e6e64b solid 1px; }
  .navbar-toggler .navbar-toggler-icon {
    background-color: #e6e64b;
    padding: 20px; }

.navbar-brand {
  color: white; }

.navbar-link {
  color: white; }
  .navbar-link .nav-link:active {
    color: white; }

.navbar-nav li a {
  color: black;
  transition: 1s; }
  .navbar-nav li a:hover {
    background-color: black;
    color: #e6e64b;
    font-style: oblique; }

h1, h2, h3 {
  color: white;
  text-align: center;
  margin: 2rem;
  display: grid;
  justify-self: center;
  position: static; }

.texto-descriptivo {
  text-align: center;
  margin-top: 20px;
  display: grid;
  justify-self: center;
  position: static; }
  .texto-descriptivo .texto {
    font-size: 3rem; }

.btn {
  border: solid, 1px #451145;
  width: 200px; }

footer {
  margin-top: 80px;
  margin-bottom: 10px; }
  footer .container-redes a {
    color: white;
    text-decoration: none;
    font-size: 10rem;
    margin-top: 80px; }

/*Estilos para el index*/
#carouselExampleCaptions {
  width: 900px;
  left: 255px; }

.carousel-item img {
  height: 600px; }

/*Tablet*/
@media (max-width: 768px) {
  #carouselExampleCaptions {
    width: 672px;
    left: 49px; } }

/*Desktop*/
@media screen and (max-width: 1200px) {
  .carrusel-item img {
    width: 700px;
    height: 700px; } }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-left: 5rem; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 80%;
    position: absolute; }

.enlace {
  display: grid;
  justify-items: start;
  margin: 20px;
  font-size: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-decoration: none;
  color: white; }

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px; }

.bigicon {
  font-size: 35px;
  color: #36A0FF; }

.form-group {
  display: flex;
  margin: 1rem;
  gap: 5rem; }

.text-center {
  color: white;
  font-style: italic;
  font-size: 2rem; }

p {
  text-align: center;
  line-height: 2;
  color: white; }

ul li {
  list-style: none;
  text-align: center;
  color: white; }

/*Estilos para fotos*/
#galeria-nela {
  grid-area: galeria; }
  #galeria-nela h2 {
    text-align: center;
    margin-top: 5rem; }

.fotos-nela {
  display: f lex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem; }
  .fotos-nela :focus {
    width: 2rem; }

/*Tablets*/
@media screen and (min-width: 768px) {
  .fotos-nela {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 1rem; } }

/*Desktop*/
@media screen and (min-width: 1200px) {
  .fotos-nela {
    grid-template-columns: repeat(2, 2fr);
    background-image: linear-gradient(#09095f, rgba(53, 53, 170, 0.724)); } }

.fotos-nela img {
  width: 500px;
  height: 500px; }

/*estilos de mis banners*/
#banners-nela {
  grid-area: banners;
  margin-top: 2rem; }
  #banners-nela h3 {
    text-align: center;
    margin-bottom: 1rem; }

.padre-banners {
  display: f lex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem; }

/*Tablet*/
@media screen and (min-width: 768px) {
  .padre-banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; } }

/*Desktop*/
@media screen and (min-width: 1200px) {
  .padre-banners {
    grid-template-columns: repeat(4, 1fr); } }

.hijo-banner {
  text-align: center;
  font-size: 20px; }

/*Estilos para nuestros productos*/
/*Cards*/
.padre-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; }

.card img {
  height: 200px;
  border: solid 1px black; }

/*Tablet*/
@media (min-width: 768px) {
  .padre-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; } }

/*Desktop*/
@media (min-width: 992px) {
  .padre-cards {
    grid-template-columns: repeat(3, 1fr); } }

/*Desktop grande*/
@media (min-width: 1200px) {
  .padre-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }

/*Filtros de productos*/
.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; }

/*Tablet*/
@media (max-width: 768px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

/*Desktop*/
@media (min-width: 992px) {
  .container-cards {
    grid-template-columns: repeat(3, 1fr); } }

/*Desktop grande*/
@media (max-width: 1200px) {
  .container-cards {
    grid-template-columns: repeat(4, 1fr); } }

.container-opciones {
  display: flex;
  justify-content: center;
  gap: 30px; }
  .container-opciones label {
    cursor: pointer;
    padding: 8px, 15px; }
    .container-opciones label:nth-of-type(odd) {
      background-color: #446cc1; }
    .container-opciones label:nth-of-type(even) {
      background-color: darkseagreen; }

#bombones,
#pavlovas,
#minilemon,
#todos {
  display: none; }

.card-bombones,
.card-pavlovas,
.card-minilemon,
.todos {
  display: none; }

#pavlovas:checked ~ .container-cards .card-pavlovas {
  display: flex; }

#bombones:checked ~ .container-cards .card-bombones {
  display: flex; }

#minilemon:checked ~ .container-cards .card-minilemon {
  display: flex; }

#todos:checked ~ .container-cards .card-bombones {
  display: flex; }

#todos:checked ~ .container-cards .card-pavlovas {
  display: flex; }

#todos:checked ~ .container-cards .card-minilemon {
  display: flex; }

.card-text {
  color: black;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: medium; }

.btn {
  background-color: #451145;
  color: #e6e64b; }
  .btn:hover {
    background-color: #e6e64b;
    color: #451145;
    font-weight: bold; }

/*Estilos para quienes somos*/
p {
  position: static;
  gap: 1rem;
  display: inline-block;
  margin: 2rem; }

.imagenesq {
  display: flex;
  flex-direction: column;
  align-items: center; }

.imagenesq__img {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10%; }

/*Tablet*/
@media screen and (min-width: 768px) {
  .imagenesq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; } }

/*Desktop*/
@media screen and (min-width: 1024px) {
  .imagenesq {
    grid-template-columns: repeat(3, 1fr);
    width: 40rem;
    height: 40rem; } }
